/* CSS declarations go here */
.left {
	float: left;
	width: 79%;
	border: solid 1px;
}

.right {
	float: right;
	width: 19%;
	border: solid 1px;
}

.thumbnail {
	min-height: 400px;
	max-height: 400px;
}

.small {
	min-height: 120px;
	max-height: 120px;
}

.caption {
	text-align: center;
}

#picBasket {
	min-height: 400px;
}

#album {
	min-height: 400px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}